body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  background: rgb(26, 25, 25);
  overflow-x: hidden;
}

#myInput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 50px;
  padding: 50px 10vw;
  margin: 0;
  font-family: 'Prompt', sans-serif;
  color: white;
  overflow-x: hidden;
}

.blue {
  background: #001220;
}

.pink {
  background: #cb2e6d;
}

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.layer1 {
  background-image: url(./layered-waves-haikei.svg);
}

.layer2 {
  background-image: url(./layered-waves-haikei.svg);
}

.flip {
  transform: rotate(180deg);
}
